@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.app,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

:root {
  --bg-light-skin: #fbeed9;
  --bg-light-purple: #fdeff0;
  --bg-light-green: #d1e6df;
  --bg-light-blue: #d5e8ed;

  --yellow-orange: #fbae17;
  --light-black: #48454c;

  --range-line: #ad87df;
  --range-text: #825faf;
  --light-range: #f0e9fb;

  --light-gray: #48454c;

  --border-basic: #f0e9fb;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.description-text-14 {
  font-size: 14px;
  line-height: 21.78px;
}

.description-text-18 {
  font-size: 18px;
  line-height: 21.78px;
}

.description-text-24 {
  font-size: 24px;
  line-height: 29.05px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: var(--range-text);
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--light-range);
  border: 1px solid var(--range-line);
  border-radius: 50%;
  cursor: pointer;
}

/* For firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--light-range);
  border: 1px solid var(--range-line);
  border-radius: 50%;
  cursor: pointer;
}

.htmlBlogContent p {
  font-size: 14px;
  line-height: 29.05px;
  color: var(--light-black);
}
