@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.app,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


:root {
  --bg-light-skin : #FBEED9;
  --bg-light-purple : #FDEFF0;
  --bg-light-green : #D1E6DF;
  --bg-light-blue : #D5E8ED;

  --yellow-orange : #FBAE17;
  --light-black : #48454C;

  --range-line : #AD87DF;
  --range-text : #825FAF;
  --light-range : #F0E9FB;

  --light-gray : #48454C;

  --border-basic : #F0E9FB;
}


.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
